<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OperationFactory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>562FA1FD1CD6D2BE005B690C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>562FA2161CD6D2BE005B690C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>562FA2211CD6D2BE005B690C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
